@import './../../../sass/app-variables.scss';
.custom-container{padding:0;}
.custom-top-nav{border-bottom: $border-separator;}

.custom-top-nav a{color: #5D6D7E!important;}
.custom-top-nav a:hover{color: #DC7633!important;}
