@import './../sass/commons.scss';
.custom-container{background-color: #EAEDED;padding:0;}
.cutom-side-navbar{background-color: #FFFFFF;margin-right: 1%;padding:0;}
.items-container{background-color: #FFFFFF; padding:0}
.custom-row{padding:1%;margin: 0;}