@import './../../sass/app-variables.scss';
.custom-container{padding:0;color: $sidenav-font-color;}
.div-heading{padding: 0.8rem;font-size: 1.05rem;border-bottom: $border-separator;
margin-bottom: 0;}