.observer-container {
    background-color: #F2F4F4;
    color: #2C3E50;
    margin-left: 2em;
    padding: 0.5em 1em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;

    h3 {
        margin-bottom: 0 !important;
    }
}