<div class="jumbotron jumbotron-fluid container-slider-main">
  <div class="container">
    <h1>Manage Store Info.</h1>
    <p class="sub-title">
      <span>Add</span> | <span>Modify</span> | <span>Delete</span>
      <input class="app-search" type="text" name="search" />
      <br>
      Please review the following check-list's before persuing any action aginst the existing information.
    </p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid container-slider-alt1">
  <div class="container">
    <h1>Add Information</h1><br>
    <span>Check list to add information:</span>
    <ul>
      <li>[ Publisher ] authenticity to be verified and approved</li>
      <li>[ Author ] identity and BGC to be verified and approved</li>
      <li>[ Book ] should be accepted in the countries choosen and the respective liscence needs to be verified.</li>
    </ul>
  </div>
</div>
<div class="jumbotron jumbotron-fluid container-slider-alt2">
  <div class="container">
    <h1>Delete Information</h1>
    <span>Check list to delete books:</span>
    <ul>
      <li>[ Publisher ] authenticity to be verified and approved</li>
      <li>[ Author ] identity and BGC to be verified and approved</li>
      <li>[ Book ] should be accepted in the countries choosen and the respective liscence needs to be verified.</li>
    </ul>
  </div>
</div>
<div class="jumbotron jumbotron-fluid container-slider-alt1">
  <div class="container">
    <h1>Update information</h1>
    <span>Check list to updating information:</span>
    <ul>
      <li>[ Publisher ] authenticity to be verified and approved</li>
      <li>[ Author ] identity and BGC to be verified and approved</li>
      <li>[ Book ] should be accepted in the countries choosen and the respective liscence needs to be verified.</li>
    </ul>
  </div>
</div>
