<div class="col-sm-12">
  <div class="modal-dialog" style="margin-bottom:0">
    <div class="modal-content card">
      <div class="card-header">
        <span class="card-title">Sign In</span>
      </div>
      <div class="card-body">
        <form role="form">
          <fieldset>
            <div class="form-group">
              <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus="">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Password" name="password" type="password" value="">
            </div>
            <button type="button" (click)="customLogin()" class="btn btn-secondary">Login</button>&nbsp;
            <button type="button" (click)="acsLogin()" class="btn btn-danger">login using ACS</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>